.s1 {
    position: absolute;
    top: 30px;
    left: 30px;
}

.form-section{
    padding: 1%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.device-list-item{
    margin-left: 5%;
    margin-bottom: .5rem;
    padding: 2%;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    border-radius: .5em;
    max-width: 95%;
    width: 95%;
    /* background-color:; */
}

.device-item{
    padding: 2%;
}

.intro{
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    border-radius: .5em;
    background-color: lightgray;
}
