


.form-section{
    padding: 1%;
}

.device-list-item{
    margin-bottom: .5rem;
    padding: 2%;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    border-radius: .5em;
    /* background-color:; */
}

.intro{
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    border-radius: .5em;
    background-color: lightgray;
}