<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>
    <input type="text" id="word" />
    <button type="button" id="retrieve">Submit</button>
    <div id="Result"></div>
    <form action="/aggregate" method="POST" role="form" style="position: relative;">
      <img src="{{ url_for('static', filename='imgs/house_backgrounds.jpg') }}" border="0"/>
      <div style="position: absolute; left: 90px; top: 550px; width:100%;">
        {{ start_form.hidden_tag() }}
        {{ start_form.smartmeter1(autocomplete="off", style="position:absolute;left:2;") }}
        {% for error in start_form.smartmeter1.errors %}
        <div class="alert alert-danger" role="alert">
          <span>[{{ error }}]</span>
        </div>
        {% endfor %}
        {{ start_form.smartmeter2(autocomplete="off", style="position:absolute; left:275;") }}
        {% for error in start_form.smartmeter2.errors %}
        <div class="alert alert-danger" role="alert">
          <span>[{{ error }}]</span>
        </div>
        {% endfor %}
        {{ start_form.smartmeter3(autocomplete="off", style="position:absolute; left:555;") }}
        {% for error in start_form.smartmeter3.errors %}
        <div class="alert alert-danger" role="alert">
          <span>[{{ error }}]</span>
        </div>
        {% endfor %}
        {{ start_form.smartmeter4(autocomplete="off", style="position:absolute; left:833;") }}
        {% for error in start_form.smartmeter4.errors %}
        <div class="alert alert-danger" role="alert">
          <span>[{{ error }}]</span>
        </div>
        {% endfor %}
        {{ start_form.smartmeter5(autocomplete="off", style="position:absolute;  left:1112;") }}
        {% for error in start_form.smartmeter5.errors %}
        <div class="alert alert-danger" role="alert">
          <span>[{{ error }}]</span>
        </div>
        {% endfor %}
      </div>
      <div class="form-section">
        {{ start_form.submit(class="btn btn-primary") }}
      </div>
    </form>
  </body>
</html>
