{% extends 'base.html' %}

{% block content %}

<div class="container">
    {% include 'topnav.html' %}
    <div class="row" style="padding: 3%">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-self-center text-center">
            <img src="{{ url_for('static', filename='imgs/kitchen.jpeg') }}" />
        </div>
    </div>

    {% for device in devices %}
    <div class="row device-list-item" id="device-section-{{ device.id }}">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 align-self-center text-center device-item">
            <img src="{{ url_for('static', filename='imgs/{}'.format(device.image)) }}"
                style="height: 75px; width: auto;" />
        </div>

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 align-self-center text-center device-item">
            <input type="text" class="form-control" id="nameInput-{{ device.id }}" value="{{ device.name }}"
                placeholder="name">
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 align-self-center text-center device-item">
            <div style="float: left">
                <span class="mdi mdi-power-plug" aria-hidden="true" style="font-size: 150%;"></span>
            </div>
            <div style="float: left">
                <input type="text" class="form-control" id="usageInput-{{ device.id }}"
                    value="{{ device.energy_usage }}" placeholder="energy usage" style="width: 85%;">
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 align-self-center text-center device-item">
            <a class="btn btn-sm btn-primary update-btn" href="#" device_id="{{ device.id }}" role="button">
                <span class="mdi mdi-check-bold" aria-hidden="true"></span>
            </a>
            <a class="btn btn-sm btn-danger delete-btn" href="#" device_id="{{ device.id }}" role="button">
                <span class="mdi mdi-delete" aria-hidden="true"></span>
            </a>
            <a class="btn btn-sm btn-secondary info-btn" href="#" device_id="{{ device.id }}" role="button">
                <span class="mdi mdi-menu" aria-hidden="true"></span>
                <span class="mdi mdi-chevron-down" aria-hidden="true"></span>
            </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-self-center text-center device-info"
            id="device-info-{{device.id}}" style="display: none;">
            <p>additional info</p>
        </div>



    </div>
    {% endfor%}

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-self-center text-center ">
            <a class="btn btn-primary" href="{{ url_for('create') }}" role="button">
                ADD
            </a>


            <!-- <div>
                <form action="" method="POST" role="form">
                    {{ create_device_form.hidden_tag() }}
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 align-self-center" style="text-align: right;">
                            <div class="form-section">
                               
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 align-self-center" style="text-align: left;">
                            <div class="form-section">
                                {{ create_device_form.submit(class="btn btn-primary") }}
                            </div>
                        </div>
                    </div>
                </form>
            </div> -->
        </div>
    </div>
</div>

{% endblock %}