{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-self-center text-center">
            <h1>Welcome to energy savers!</h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-self-center text-center">
            <div>
                <form action="" method="POST" role="form">
                    {{ start_form.hidden_tag() }}
                    <div class="form-section">
                        {{ start_form.username(autocomplete="off") }}
                        {% for error in start_form.username.errors %}
                        <div class="alert alert-danger" role="alert">
                            <span>[{{ error }}]</span>
                        </div>                            
                        {% endfor %}                        
                    </div>
                    <div class="form-section">
                        {{ start_form.submit() }}

                    </div>
                </form>
            </div>
        </div>


    </div>

</div>

{% endblock %}